$ff: 'Coda', cursive;

$link: #222;
$hover: lighten($link, 35%);

html {
    background: #fafafa;
    font-size: 62.5%;
}

#header {
    font-family: $ff;
    display: flex;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    padding: 0 1em;
    background: #362F3C;
    h1 {
        margin-right: auto;
        font-size: 1.6rem;
        font-weight: 400;
    }
    a {
        text-decoration: none;
        color: #fafafa;
        &:hover {
            color: darken(#fafafa, 10%);
        }
    }
}

#navigation {
    font-family: $ff;
    ul {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 .5em;
            padding: 0;
            font-size: 1.4rem;
        }
    }
}

#main {
    font-family: $ff;
    margin-top: 60px;
    min-height: calc(100vh - 115px);
    box-sizing: border-box;
    padding: 0 1em;
    font-size: 1.6rem;
}

#index {
    margin: 0;
    li {
        list-style-type: decimal-leading-zero;
        line-height: 2;
        a {
            color: $link;
            text-decoration: none;
            &:hover {
                color: $hover;
            }
        }
        &:nth-child(3n -2) {
            color: #57B196;
        }
        &:nth-child(3n -1) {
            color: #FFD25A;
        }
        &:nth-child(3n) {
            color: #FF837B;
        }
    }
}

#footer {
    font-family: $ff;
    height: 35px;
    padding: 0 1em;
    margin-top: 20px;
    box-sizing: border-box;
    p {
        margin: 0;
        font-size: 1.3rem;
        color: #555;
    }
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            color: $hover;
        }
    }
}

@media screen and (min-width: 35.5em) {
    #footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #copyright {
        order: 1;
    }

    #updates {
        order: 2;
    }
}
