{% extends 'templates/layout.html' %}

{% block head %}
<style>
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[5];
        -ms-grid-rows: (100px)[4];
        grid-template: repeat(5, 1fr) / repeat(4, 100px);
        grid-template-areas:
            "header header header header header"
            "left main main main right"
            "left main main main right"
            "footer footer footer footer footer"
            ;
    }

    .grid > div {
        background: #57B196;
        padding: 1rem;
        border: .25rem solid #fff;
    }

    .header {
        grid-area: header;
    }

    .right {
        grid-area: right;
    }

    .left {
        grid-area: left;
    }

    .main {
        grid-area: main;
    }

    .footer {
        grid-area: footer;
    }

</style>
{% endblock %}

{% block content %}

{{ contents | safe }}

<div class="grid">
    <div class="header">header</div>
    <div class="main">main</div>
    <div class="left">left</div>
    <div class="right">right</div>
    <div class="footer">footer</div>
</div>

{% endblock %}
