{% extends 'templates/layout.html' %}

{% block head %}
<style>
    #main > section {
        display: inline-block;
        width: 200px;
    }
    .none {
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }
    .manual {
        -webkit-hyphens: manual;
        -moz-hyphens: manual;
        -ms-hyphens: manual;
        hyphens: manual;
    }
    .auto {
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
</style>
{% endblock %}

{% block content %}

{{ contents | safe }}

<section>
    <h1>
        none
    </h1>
    <p class="none" lang="en">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
</section>

<section>
    <h1>
        manual
    </h1>
    <p class="manual" lang="en">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
</section>

<section>
    <h1>
        auto
    </h1>
    <p class="auto" lang="en">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
</section>






{% endblock %}
