{% extends 'templates/layout.html' %}

{% block head %}
<link rel="stylesheet" href="../css/common.css">

<style>
    @font-face {
        font-family: 'Ampersand';
        src: local('Times New Roman');
        unicode-range: U+26;
    }

    #main h2 {
        font-family: Ampersand, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 2em;
    }
</style>
{% endblock %}

{% block content %}

{{ contents | safe }}

<h2>
    Me & You = Us
</h2>


{% endblock %}

{% block foot %}

{% endblock %}
