{% extends 'templates/layout.html' %}

{% block head %}
<link rel="stylesheet" href="../css/common.css">

<link rel="shortcut icon" href="/img/icons/favicon.ico">
<link rel="icon" type="image/png" href="/img/icons/32.png" sizes="32x32">
<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/180.png">
<link rel="icon" href="/img/icons/196.png" sizes="196x196">
<meta name="msapplication-TileColor" content="#00C67A">
<meta name="msapplication-TileImage" content="/img/icons/144.png">
<meta name="theme-color" content="#00C67A">

{% endblock %}

{% block content %}

{{ contents | safe }}

<p>
	Favicon Test.
</p>

{% endblock %}

{% block foot %}

{% endblock %}
