{% extends 'templates/layout.html' %}

{% block head %}
<style>
    #main p {
        font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, sans-serif;
    }
</style>
{% endblock %}

{% block content %}

{{ contents | safe }}

<h2>100%</h2>
<progress value="100" max="100">100%</progress>

<h2>70%</h2>
<progress value="70" max="100">70%</progress>

<h2>Loading</h2>
<progress>Loading</progress>

{% endblock %}
