<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if title %}{{ title }} - {% endif %}plyground</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="My Playground for Future of Web Technology. {{ description }}">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/common.css">
    <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    {% block head %}{% endblock %}
</head>
<body>
    <header id="header" role="banner">
        <h1><a href="http://ground.plyrs.net">plyground</a></h1>
        <nav id="navigation" role="navigation">
            <ul>
                <li>
                    <a href="https://plyrs.net">plyr</a>
                </li>
                <li>
                    <a href="http://log.plyrs.net">plylog</a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="main" role="main">
        {% block content %}{% endblock %}
    </main>
    <footer id="footer" role="contentinfo">
        <p id="updates">
            Update:{{ updated.toDateString() }}
        </p>
        <p id="copyright">
            ©2015 plyr. Powered by <a href="http://www.metalsmith.io/" rel="nofollow" target="_blank">Metalsmith</a>
        </p>
    </footer>
    {% block foot %}{% endblock %}

    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-68414504-3','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
